<!DOCTYPE html>
<html lang="pl">

<head>

        <title>Zastępstwa - ZSK 2019/2020</title>
        <style>
                body {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                }
                img {
                        max-width: 100%;
                        max-height: 100%;
                }
        </style>
</head>

<body>
        <img src="/static/head.png">
        <div class="Nauczyciele">
                <a href="/zastepstwa"><img style="max-width: 45%; max-height: 45%;position:absolute; top:35%; left:2%;"
                                src="/static/nauczyciele.png"></a>
        </div>
        <div class="Lista">
                <a href="/zastepstwa-pelne"><img
                                style="max-width: 40%; max-height: 40%;position:absolute; top:35%; left:40%;"
                                src="/static/lista.png">
        </div>
        <div class="Komunikaty">
                <a href="/komunikaty"><img style="max-width: 40%; max-height: 40%;position:absolute; top:35%; right:2%;"
                                src="/static/komunikaty.png"></a>
        </div>
</body>